#pragma once

#include "resource.h"
#include <windows.h>

KNUSLYD_1 WAVE "knus1.wav"
DML WAVE "detmaadavaeralov.wav"
KNUSBILDE_1 BITMAP "knus1.bmp"
KNUSBILDE_2 BITMAP "knus2.bmp"
KNUSBILDE_3 BITMAP "knus3.bmp"

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1, 0, 0, 0
/* PRODUCTVERSION	1,0,0,0 */
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_APP
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "DAG J NEDRELID SOFTWARE ENK.\0"
VALUE "FileDescription", "knusenarr."
VALUE "FileVersion", "1.0.0.0\0"
VALUE "ProductName", "knusenarr.\0"
VALUE "ProductVersion", "1.0\0"
VALUE "LegalCopyright", "Copyright © 2020.\0"
END
END

BLOCK "VarFileInfo"
BEGIN
/* The following line should only be modified for localized versions.     */
/* It consists of any number of WORD,WORD pairs, with each pair           */
/* describing a language,codepage combination supported by the file.      */
/*                                                                        */
/* For example, a file might have values "0x409,1252" indicating that it  */
/* supports English language (0x409) in the Windows ANSI codepage (1252). */

VALUE "Translation", 0x409, 1252

END
END
